body{
    height: 95vh; /* evita scroll*/
    width: 95;
    /*flex box*/
    display: flex;
    justify-content: center; /* horizontalmente*/
    align-items: center; /*verticalmente no meio*/
    flex-direction: column; /*deixando um abaixo do outro*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}